body {
  background-color: rgb(255, 255, 255);
}

.title-left {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  background-color: rgb(255, 255, 255);
}

.mat-cell {
  text-align: center; /* Center-aligns all cell values */
  vertical-align: middle;
  font-size: 1rem;
  padding: 8px;
  font-weight: normal; /* Keeps table header bold and other values normal */
}

.challenge_icon{
  color: rgb(0, 123, 255);
}

.current-user {
  background-color: #e0f7fa;  /* Light blue background for highlighting */
}

.container {
  padding: 20px;
  background-color: #f0f4f8; /* Light blue background for the container */
}

.ladder-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.ladder-container {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ladder-header {
  position: sticky;
  top: 0;
  background-color: #eceff1; /* Light grey background for the header */
  z-index: 10;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  display: flex; /* Make the header a flex container */
  align-items: center; /* Center items vertically */
}

.ladder-header-cell {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  text-align: center; /* Center the text */
}

.ladder-header-cell-name{
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  width: 240px;
  text-align: center; /* Center the text */
}

.ladder-header-cell:last-child {
  border-right: none;
}

.ladder-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.ladder-row:hover {
  background-color: rgba(207, 216, 220, 0.1); /* Light grey hover effect */
}

.current-user-row {
  background-color: rgba(255, 183, 77, 0.8); /* Light orange for current user */
}

.ladder-cell {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  font-weight: bold;
}

.ladder-cell-win {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: green; /* Correct property for text color */
  font-weight: bold;
}

.ladder-cell-lose {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: red; /* Correct property for text color */
  font-weight: bold;
}

.ladder-cell-draw {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: orange; 
  font-weight: bold;
}


.ladder-cell-rank{
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  text-align: center; /* Center the text */
  position: sticky;
  background-color: #eceff1; /* Light grey background for the header */
}

.ladder-cell-name{
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  width: 240px;
}

.ladder-cell:last-child {
  border-right: none;
}

.action-button {
  background-color: #b0bec5; /* Medium grey for the button */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-button:hover {
  background-color: #1e88e5; /* Darker blue for hover */
}

.challenge-icon {
  font-size: 16px;
  color: white;
}
