<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chandlers Ford Tournament</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- Material Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- Angular Material Theme -->
    <link href="ladder.component.css" rel="stylesheet" />
  </head>
  <body>
    <mat-toolbar color="primary">
      <span>CHANDLERS FORD TOURNAMENT</span>
      <span class="spacer"></span>
      <nav class="top-nav">
        <a routerLink="/account" routerLinkActive="active-link">MY ACCOUNT</a>
        <a routerLink="/ladder" routerLinkActive="active-link">LADDER</a>
      </nav>
    </mat-toolbar>

    <div class="container">
      <h1 class="title-left">LADDER TOURNAMENT 2023-24</h1>
      <mat-table [dataSource]="players" class="mat-elevation-z1 custom-table">
        <!-- Rank Column -->
        <ng-container matColumnDef="rank">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            RANK
          </mat-header-cell>
          <mat-cell *matCellDef="let player">
            {{ player.rank }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            NAME
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.name }} </mat-cell>
        </ng-container>

        <!-- Points Column -->
        <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            POINTS
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.points }} </mat-cell>
        </ng-container>

        <!-- Games Played Column -->
        <ng-container matColumnDef="gp">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            GP
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.gp }} </mat-cell>
        </ng-container>

        <!-- Win Column -->
        <ng-container matColumnDef="win">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            W
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.win }} </mat-cell>
        </ng-container>

        <!-- Lose Column -->
        <ng-container matColumnDef="lose">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            L
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.lose }} </mat-cell>
        </ng-container>

        <!-- Draw Column -->
        <ng-container matColumnDef="draw">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            D
          </mat-header-cell>
          <mat-cell *matCellDef="let player"> {{ player.draw }} </mat-cell>
        </ng-container>

        <!-- Win Percentage Column -->
        <ng-container matColumnDef="winPercentage">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            W%
          </mat-header-cell>
          <mat-cell *matCellDef="let player">
            {{ player.winPercentage }}
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef style="font-weight: bold">
            ACTIONS
          </mat-header-cell>
          <mat-cell *matCellDef="let player">
            <button mat-icon-button color="primary">
              <span class="material-symbols-outlined"> chess </span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </body>
</html>
