body {
  background-color: rgb(255, 255, 255);
}

.title-left {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-table {
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed;
  background-color: rgb(255, 255, 255);
}

.mat-cell {
  text-align: center; /* Center-aligns all cell values */
  vertical-align: middle;
  font-size: 1rem;
  padding: 8px;
  font-weight: normal; /* Keeps table header bold and other values normal */
}

.challenge_icon {
  color: rgb(0, 123, 255);
}

.current-user {
  background-color: #e0f7fa; /* Light blue background for highlighting */
}

.container {
  padding: 20px;
  background-color: #f0f4f8; /* Light blue background for the container */
}

.ladder-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.ladder-container {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ladder-header {
  position: sticky;
  top: 0;
  background-color: #dddede; /* Light grey background for the header */
  z-index: 10;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  display: flex; /* Make the header a flex container */
  align-items: center; /* Center items vertically */
}

.ladder-header-cell {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  text-align: center; /* Center the text */
}

.ladder-header-cell-name {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  width: 240px;
  text-align: center; /* Center the text */
}

.ladder-header-cell:last-child {
  border-right: none;
}

.ladder-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.ladder-row:hover {
  background-color: rgba(207, 216, 220, 0.1); /* Light grey hover effect */
}

.ladder-cell {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  font-weight: bold;
  align-items: center;
}

.ladder-cell-win {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: green; /* Correct property for text color */
  font-weight: bold;
}

.ladder-cell-lose {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: red; /* Correct property for text color */
  font-weight: bold;
}

.ladder-cell-draw {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  color: orange;
  font-weight: bold;
}

.ladder-cell-rank {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  flex: 1; /* Ensure cells are equally distributed */
  text-align: center; /* Center the text */
  position: sticky;
  background-color: #eceff1; /* Light grey background for the header */
}

.ladder-cell-name {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
  width: 240px;
}

.ladder-cell:last-child {
  border-right: none;
}

.action-button {
  background-color: #333333; /* Medium grey for the button */
  width: 3rem;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
  outline: none; /* Remove any focus outlines */
  outline-color: #333333;
}

.action-button:hover {
  background-color: #000000; /* Darker blue for hover */
}

.current-user-row {
  background-color: rgba(
    186,
    186,
    186,
    0.8
  ); /* Light orange for current user */
}
.current-user-row:hover {
  background-color: rgba(
    233,
    233,
    233,
    0.8
  ); /* Light orange for current user */
}

.challenge-icon {
  font-size: 16px;
  color: white;
}

.mdi--chess-queen {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M18 3a2 2 0 0 1 2 2c0 .81-.5 1.5-1.17 1.82L17 13.15V18H7v-4.85L5.17 6.82C4.5 6.5 4 5.81 4 5a2 2 0 0 1 2-2a2 2 0 0 1 2 2c0 .5-.18.95-.5 1.3l2.8 3.05l.53-3.73C10.33 5.26 10 4.67 10 4a2 2 0 0 1 2-2a2 2 0 0 1 2 2c0 .67-.33 1.26-.83 1.62l.53 3.73l2.77-3.06A2 2 0 0 1 16 5a2 2 0 0 1 2-2M5 20h14v2H5z'/%3E%3C/svg%3E");
}
