<app-navigation-bar></app-navigation-bar>

<div class="account-container">
  <div class="welcome-section" *ngIf="currentUserTournamentInfo">
    <h1 class="welcome-text">
      HELLO, {{ currentUserTournamentInfo.full_name }}
    </h1>
  </div>

  <div class="challenges-tab">
    <!-- Scheduled Game Section (Left Block) -->
    <div class="games-container">
      <div class="scheduled-game-class">
        <div class="header-design">
          <h2>SCHEDULED GAME</h2>
        </div>
        <p *ngIf="scheduledGame; else noScheduledGame">
          <strong>OPPONENT:</strong> {{ scheduledGame.opponent_name }}
          <br />
          <br />
          <strong>RANK:</strong> #{{ scheduledGame.opponent_rank }}
          <br />
        </p>
        <div class="date-button-row">
          <p><strong>DATE:</strong> {{ scheduledGame.scheduled_date }}</p>
          <button
            mat-raised-button
            color="warn"
            class="cancel-button"
            (click)="cancelScheduledGame()"
          >
            CANCEL GAME
          </button>
        </div>

        <ng-template #noScheduledGame>
          <p>No active challenges yet</p>
        </ng-template>
      </div>

      <div class="match-history-class">
        <div class="header-design">
          <h2>MATCH HISTORY</h2>
        </div>
        <p>n/a</p>
      </div>
    </div>

    <!-- Incoming and Outgoing Challenges (Right Block) -->
    <div class="challenges-container">
      <!-- Incoming Challenges -->
      <div
        [ngClass]="{
          'incoming-challenges-class': true,
          expanded: showAllIncomingChallenges
        }"
      >
        <div class="header-design">
          <h2>INCOMING CHALLENGES</h2>
        </div>
        <div *ngIf="incomingChallenges.length > 0; else noIncomingChallenges">
          <!-- Display the first 2 challenges initially -->
          <div
            class="challenge"
            *ngFor="let challenge of incomingChallenges | slice : 0 : 2"
          >
            <span>{{ challenge.full_name }}</span>
            <div class="challenge-buttons">
              <button
                mat-button
                class="accept-button"
                (click)="acceptChallenge(challenge)"
              >
                ACCEPT
              </button>
              <button
                mat-button
                class="decline-button"
                (click)="declineChallenge(challenge)"
              >
                DECLINE
              </button>
            </div>
          </div>

          <!-- Display remaining challenges when "Show All" is clicked -->
          <div *ngIf="showAllIncomingChallenges">
            <div
              class="challenge"
              *ngFor="let challenge of incomingChallenges | slice : 2"
            >
              <span>{{ challenge.full_name }}</span>
              <div class="challenge-buttons">
                <button
                  mat-button
                  class="accept-button"
                  (click)="acceptChallenge(challenge)"
                >
                  ACCEPT
                </button>
                <button
                  mat-button
                  class="decline-button"
                  (click)="declineChallenge(challenge)"
                >
                  DECLINE
                </button>
              </div>
            </div>
          </div>

          <!-- Show All/Show Less Button -->
          <div class="show-all-button-container">
            <a
              *ngIf="incomingChallenges.length > 2"
              (click)="toggleShowAllIncoming()"
              class="show-all-button"
            >
              {{ showAllIncomingChallenges ? "Show less" : "Show all" }}
            </a>
          </div>
        </div>

        <!-- Display message if no incoming challenges -->
        <ng-template #noIncomingChallenges>
          <p>No incoming challenges.</p>
        </ng-template>
      </div>

      <!-- Outgoing Challenges -->
      <div
        [ngClass]="{
          'outgoing-challenges-class': true,
          expanded: showAllOutgoingChallenges
        }"
      >
        <div class="header-design">
          <h2>OUTGOING CHALLENGES</h2>
        </div>
        <div *ngIf="outgoingChallenges.length > 0; else noOutgoingChallenges">
          <div
            class="challenge"
            *ngFor="let challenge of outgoingChallenges | slice : 0 : 2"
          >
            <span>{{ challenge.full_name }}</span>
            <div class="challenge-buttons">
              <button
                mat-button
                class="decline-button"
                (click)="cancelChallenge(challenge)"
              >
                CANCEL
              </button>
            </div>
          </div>
          <div *ngIf="showAllOutgoingChallenges">
            <div
              class="challenge"
              *ngFor="let challenge of outgoingChallenges | slice : 2"
            >
              <span>{{ challenge.full_name }}</span>
              <div class="challenge-buttons">
                <button
                  mat-button
                  class="decline-button"
                  (click)="cancelChallenge(challenge)"
                >
                  CANCEL
                </button>
              </div>
            </div>
          </div>

          <!-- Show All/Show Less Button -->
          <div class="show-all-button-container">
            <a
              *ngIf="outgoingChallenges.length > 2"
              (click)="toggleShowAllOutgoing()"
              class="show-all-button"
            >
              {{ showAllOutgoingChallenges ? "Show less" : "Show all" }}
            </a>
          </div>
        </div>

        <!-- Display message if no outgoing challenges -->
        <ng-template #noOutgoingChallenges>
          <p>No outgoing challenges.</p>
        </ng-template>
      </div>
    </div>

    <div class="stats-tab">
      <!-- Game Record Section -->
      <div class="game-record-class">
        <div class="s-header-design">
          <h2>GAME RECORD</h2>
        </div>
        <div class="record-stats">
          <div class="stat-item">
            <div class="stat-value">
              {{ currentUserTournamentInfo?.win || 0 }}
            </div>
            <div class="stat-label">WINS</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">
              {{ currentUserTournamentInfo?.lose || 0 }}
            </div>
            <div class="stat-label">LOSSES</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">
              {{ currentUserTournamentInfo?.draw || 0 }}
            </div>
            <div class="stat-label">TIES</div>
          </div>
        </div>
      </div>

      <!-- Rank Section -->
      <div class="rank-class">
        <div class="s-header-design">
          <h2>YOUR RANK</h2>
        </div>
        <div class="rank-value">
          #{{ currentUserTournamentInfo?.rank || "N/A" }}
        </div>
      </div>
    </div>
  </div>
</div>
