/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
  }
  
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.success-skin {
    border-left: 10px solid #9CCC65 !important; /* Removed quotes */
    background-color: #424242 !important; /* Replace with actual color */
    color: #AED581 !important; /* Replace with actual color */
    padding: 10px !important;
}

.fail-skin {
    border-left: 10px solid #E57373 !important; /* Removed quotes */
    background-color: #424242 !important; /* Replace with actual color */
    color: #E57373 !important; /* Replace with actual color */
    padding: 10px !important;
}
