<mat-toolbar color="primary">
  <span class =>CHANDLERS FORD TOURNAMENTS</span>
  <span class="spacer"></span>
  <nav class="top-nav">
    <a routerLink="/ladder" routerLinkActive="active-link">LADDER</a>
    
    <!-- MY ACCOUNT link with notifications badge -->
    <a routerLink="/account" routerLinkActive="active-link" class="nav-item">
      MY ACCOUNT
      <span *ngIf="notifications > 0" class="notification-badge">{{ notifications }}</span>
    </a>
    
    <a routerLink="/rules" routerLinkActive="active-link">RULES</a>
  </nav>
  <mat-icon
    (click)="logout()"
    matToolTip="Log out"
    style="
      cursor: pointer;
      margin-left: 30px;
      margin-right: -15px;
      font-size: 20px;
      height: 20px;
      width: 20px;
    "
  >
    logout
  </mat-icon>
</mat-toolbar>
