<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chandlers Ford Tournament - Register</title>
    <link rel="stylesheet" href="register.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="welcome-text">
          <h1>JOIN US</h1>
          <p>
            Create an account to participate in the Chandlers Ford Ladder
            Tournament<br />
            and enjoy all the features of our website.
          </p>
        </div>
      </div>
      <div class="right-side">
        <h2>CHANDLERS FORD TOURNAMENT</h2>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            required
            [ngClass]="{
              'error-border': registerForm.get('username')?.invalid && registerForm.get('username')?.touched
            }"
          />
          <div
            *ngIf="
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
            "
            class="error-message"
          >
            Username is required
          </div>
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            required
            autocomplete="off"
            [ngClass]="{
              'error-border': registerForm.get('email')?.invalid && registerForm.get('email')?.touched
            }"
          />
          <div
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
            class="error-message"
          >
            <span *ngIf="registerForm.get('email')?.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="registerForm.get('email')?.errors?.['email']"
              >Invalid email format</span
            >
          </div>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            required
            autocomplete="off"
            [ngClass]="{
              'error-border': registerForm.get('password')?.invalid && registerForm.get('password')?.touched
            }"
          />
          <div
            *ngIf="
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
            class="error-message"
          >
            Password is required
          </div>
          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
            required
            [ngClass]="{
              'error-border': registerForm.hasError('passwordsNotMatching') && registerForm.get('confirmPassword')?.touched
            }"
          />
          <div
            *ngIf="
              registerForm.hasError('passwordsNotMatching') &&
              registerForm.get('confirmPassword')?.touched
            "
            class="error-message"
          >
            Passwords do not match
          </div>
          <button type="submit" [disabled]="registerForm.invalid">
            Register
          </button>
        </form>
        <div class="existing-account">
          <p>ALREADY HAVE AN ACCOUNT? <a routerLink="/login">SIGN IN</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
