<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chandlers Ford Tournament</title>
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="welcome-text">
          <h1>WELCOME BACK</h1>
          <p>
            Sign in to your account to access players table<br />and the rest of
            the tournament website
          </p>
        </div>
      </div>
      <div class="right-side">
        <h2>CHANDLERS FORD TOURNAMENT</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            required
            autocomplete="off"
            [ngClass]="{
              'error-border': loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            }"
          />
          <div
            *ngIf="
              loginForm.get('email')?.invalid &&
              loginForm.get('email')?.touched
            "
            class="error-message"
          >
            <span *ngIf="loginForm.get('email')?.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="loginForm.get('email')?.errors?.['email']"
              >Invalid email format</span
            >
          </div>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            required
            autocomplete="off"
            [ngClass]="{
              'error-border': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
            }"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="error-message"
          >
            Password is required
          </div>
          <a href="#" class="forgot-password">Forgot Password?</a>
          <button type="submit">Login</button>
        </form>
        <div class="create-account">
          <p>New player? <a routerLink="/register">Create an account</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
